.courseShedule-mobile{
    display: none;
}

@media only screen and (max-width: 780px) {

    .courseShedule-mobile{
        display: flex;
    }

    .courseSchedule-main{
        height: 180vh;
    }

    .courseShedule-cards{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }

    .courseShedule-card{
        margin: auto;
    }

}
