.timetable {
    border-collapse: collapse;
    width: 80%;
    height: 60vh;
    margin: auto;
}

.timetable th,
.timetable td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    letter-spacing: 2px;
}

.timetable th {
    background-color: rgba(255,255,255,0.5);
}

.timetable-hour {
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
}

.timetable-slot {
    height: 50px;
    width: 170px;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.6);
    color: white;
}


@media only screen and (max-width: 780px) {

    .timetable {
        display: none;
    }


}
