.student-details-transcript{
    width: 460px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1rem 2rem;
    color: rgba(243, 244, 246, 1);
    margin: auto 2rem auto auto;
    height: 580px
}

.student-details-row-transcript{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.student-details-image{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 4rem;
}

@media only screen and (max-width: 780px) {

    .student-details-transcript{
        width: 290px;
        border-radius: 0.75rem;
        background-color: rgba(17, 24, 39, 1);
        padding: 1rem 2rem;
        color: rgba(243, 244, 246, 1);
        margin: 5rem auto 1rem;
        height: 580px
    }

}
