.login-page-main{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1425.711%2c392.499C1469.268%2c391.509%2c1502.5%2c357.983%2c1523.719%2c319.931C1544.285%2c283.05%2c1553.572%2c238.28%2c1531.926%2c202.023C1510.71%2c166.486%2c1467.089%2c156.732%2c1425.711%2c155.768C1382.044%2c154.751%2c1333.801%2c159.881%2c1310.566%2c196.867C1286.235%2c235.598%2c1296.467%2c285.151%2c1319.668%2c324.57C1342.49%2c363.344%2c1380.731%2c393.522%2c1425.711%2c392.499' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M136.96065669195903 224.86522271268717L95.37529347543273 149.84324154976605 20.353312312511605 191.42860476629238 61.93867552903792 266.4505859292135z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M382.6313644685069 389.71466072469116L413.0260446627517 503.1491514894204 496.0658552332361 359.31998053044634z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1320.8532815111078 120.88642428283532L1340.9356594501717-22.007119658256954 1198.0421155090794-42.08949759732093 1177.9597375700155 100.80404634377135z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1129.472%2c592.586C1177.943%2c592.899%2c1220.564%2c566.418%2c1247.903%2c526.392C1280.046%2c479.332%2c1306.159%2c421.647%2c1281.234%2c370.396C1253.86%2c314.109%2c1192.06%2c283.367%2c1129.472%2c282.874C1066%2c282.374%2c1000.913%2c310.716%2c973.513%2c367.972C948.536%2c420.166%2c980.659%2c477.35%2c1013.661%2c524.879C1040.996%2c564.247%2c1081.545%2c592.277%2c1129.472%2c592.586' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M367.37139223599337 148.71161076586912L303.01937650696334 82.073147724931 235.23768981007117 211.92040283894508z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M329.8504290720133 345.04122953410143L382.73217100439854 499.09775102434594 478.0048111341388 393.28676457543827z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1274.1520036123243 402.0756817349453L1315.588992036005 547.1051412178276 1408.8222159892864 453.8719172645461z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M819.533%2c472.717C864.323%2c471.736%2c893.822%2c431.724%2c916.314%2c392.978C938.934%2c354.013%2c957.573%2c309.291%2c937.945%2c268.736C916.069%2c223.538%2c869.648%2c189.868%2c819.533%2c193.016C773.038%2c195.936%2c745.551%2c240.665%2c724.356%2c282.151C705.566%2c318.93%2c696.667%2c360.435%2c715.121%2c397.384C735.674%2c438.536%2c773.545%2c473.724%2c819.533%2c472.717' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1155.344%2c188.19C1185.49%2c186.096%2c1212.798%2c172.55%2c1229.379%2c147.286C1247.976%2c118.95%2c1258.229%2c84.148%2c1243.735%2c53.509C1227.176%2c18.506%2c1194.036%2c-10.743%2c1155.344%2c-9.213C1118.356%2c-7.75%2c1096.385%2c27.761%2c1078.284%2c60.051C1060.742%2c91.344%2c1042.575%2c128.231%2c1061.063%2c158.974C1079.237%2c189.194%2c1120.165%2c190.633%2c1155.344%2c188.19' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M907.042863141681 448.37481108473565L798.5030996646072 516.1979827450464 866.326271324918 624.7377462221201 974.8660348019918 556.9145745618093z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M513.039%2c433.594C556.994%2c433.721%2c603.764%2c424.132%2c626.774%2c386.681C650.661%2c347.803%2c643.492%2c298.385%2c620.229%2c259.13C597.456%2c220.701%2c557.664%2c192.758%2c513.039%2c194.76C471.132%2c196.64%2c442.587%2c231.903%2c421.305%2c268.053C399.591%2c304.937%2c379.695%2c348.588%2c400.441%2c386.025C421.608%2c424.222%2c469.369%2c433.467%2c513.039%2c433.594' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M383.006%2c401.464C421.775%2c400.321%2c463.209%2c391.487%2c482.392%2c357.777C501.424%2c324.331%2c488.03%2c284.195%2c468.66%2c250.944C449.456%2c217.978%2c421.135%2c188.489%2c383.006%2c187.169C342.879%2c185.78%2c307.649%2c210.553%2c286.426%2c244.636C263.75%2c281.052%2c250.429%2c327.424%2c272.924%2c363.952C294.711%2c399.331%2c341.475%2c402.688%2c383.006%2c401.464' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M145.079%2c649.056C176.249%2c649.116%2c198.594%2c621.567%2c212.482%2c593.662C224.733%2c569.048%2c223.674%2c541.088%2c210.944%2c516.719C197.053%2c490.127%2c175.08%2c464.55%2c145.079%2c464.628C115.167%2c464.705%2c93.601%2c490.52%2c79.802%2c517.059C67.217%2c541.264%2c66.032%2c568.948%2c78.125%2c593.402C91.913%2c621.284%2c113.974%2c648.996%2c145.079%2c649.056' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M718.5904323659026 398.7498748781346L713.0517078821499 504.4350338282874 818.7368668323027 509.9737583120401 824.2755913160554 404.28859936188735z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
}

.form-part{
    margin: auto;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    background-color: rgba(17, 24, 39, 1);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    color: rgba(243, 244, 246, 1);

}
.register-form-part1, .register-form-part2{
    width: 300px;
}

.register-form-part1, .register-form-part2{
    margin: 1rem;
}

.register-form-div{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.register-title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.register-title::before,.register-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.register-title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.register-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.register-message, .register-signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.register-signin {
    text-align: center;
}

.register-signin a {
    color: royalblue;
}

.register-signin a:hover {
    text-decoration: underline royalblue;
}

.register-flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.register-form label {
    position: relative;
    margin-right: 0;

}

.register-form label .register-input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    margin: 5px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    background-color: rgba(17, 24, 39, 1);
    color: rgba(243, 244, 246, 1);
}

.register-form label .register-input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.register-form label .register-input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.register-form label .register-input:focus + span,.register-form label .register-input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.register-form label .register-input:valid + span {
    color: green;
}

.register-submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.register-submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media only screen and (max-width: 780px){

    .register-form-div{
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }

    .register-form {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: max-content;
        background-color: rgba(17, 24, 39, 1);
        padding: 10px;
        border-radius: 20px;
        position: relative;
        color: rgba(243, 244, 246, 1);

    }
    .register-form-part1, .register-form-part2{
        width: 290px;
        margin: auto;
    }

    .register-form-part1, .register-form-part2{
        margin: 1rem;
    }

    .register-form-part1{
        margin-bottom: -1rem;
        padding-bottom: -1rem;
    }

    .register-form2{
        width: 90%;
        margin: 4rem auto auto;
    }

}